:root{
    --primary-color: rgb(123, 123, 212);
    --text-color: white;
    --bg-color: rgba(0, 0, 255, 0.38);
}
body{
    background-color: var(--bg-color);
}


*{
    margin: 0;
    padding: 0;
}
nav ul li{
    display: inline;
}
nav ul li a{
    color: white;
    padding: 20px;
    text-decoration: none;
}
nav{
    background-color: var(--primary-color);
    padding: 10px;
}